In [4]:
import pandas as pd
url="https://raw.githubusercontent.com/611noorsaeed/100-days-Scikit-Learn-Tutorials-/blob/main/CAR%20DETAILS%20FROM%20CAR%20DEKHO.csv"

In [8]:
import pandas as pd
url = 'https://raw.githubusercontent.com/611noorsaeed/100-days-Scikit-Learn-Tutorials-/main/CAR%20DETAILS%20FROM%20CAR%20DEKHO.csv'
df = pd.read_csv(url)
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [42]:
X=df[["year","km_driven"]]
X.head()

   year  km_driven
0  2007      70000
1  2007      50000
2  2012     100000
3  2017      46000
4  2014     141000

In [15]:
y=df["selling_price"]
y

0        60000
1       135000
2       600000
3       250000
4       450000
         ...
4335    409999
4336    409999
4337    110000
4338    865000
4339    225000
Name: selling_price, Length: 4340, dtype: int64

### Train test split

In [12]:
from sklearn.model_selection import train_test_split

In [43]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [44]:
X_train.shape

(3472, 2)

In [45]:
X_test.shape

(868, 2)

In [38]:
y_train.shape

(3472,)

In [46]:
y_test.shape

(868,)

### MinmaxScaling

In [23]:
from sklearn.preprocessing import MinMaxScaler

In [40]:
scaler=MinMaxScaler()

In [47]:
x_train_scalled=scaler.fit_transform(X_train)
x_test_scalled=scaler.transform(X_test)

In [49]:
x_test_scalled

array([[0.64285714, 0.09918076],
       [0.96428571, 0.03347268],
       [0.57142857, 0.05172589],
       ...,
       [0.67857143, 0.04958976],
       [0.89285714, 0.0080325 ],
       [0.96428571, 0.03719201]])

In [58]:
x_train_scalled=pd.DataFrame(x_train_scalled,columns=X_train.columns)
x_test_scalled=pd.DataFrame(x_test_scalled,columns=X_test.columns)

In [59]:
x_test_scalled

         year  km_driven
0    0.642857   0.099181
1    0.964286   0.033473
2    0.571429   0.051726
3    0.785714   0.174807
4    0.857143   0.074385
..        ...        ...
863  0.535714   0.074385
864  0.821429   0.148772
865  0.678571   0.049590
866  0.892857   0.008033
867  0.964286   0.037192

[868 rows x 2 columns]