In [1]:
import pandas as pd

In [2]:
df=pd.read_excel("https://github.com/611noorsaeed/100-days-Scikit-Learn-Tutorials-/raw/refs/heads/main/onedata.xlsx")
df

   buyer  fruits  gender  value
0    ali   apple    male      2
1   noor   mango    male      3
2  wajid  orange  female      4
3  karim  banana    male      4

### hot encoding using pandas

In [3]:
df=df[["buyer","fruits","gender"]]

In [7]:
pd.get_dummies(df,dtype='int',drop_first="first")

,buyer_karim,buyer_noor,buyer_wajid,fruits_banana,fruits_mango,fruits_orange,gender_male
0,0,0,0,0,0,0,1
1,0,1,0,0,1,0,1
2,0,0,1,0,0,1,0
3,1,0,0,1,0,0,1

## hot encoding using sklearn

In [8]:
from sklearn.preprocessing import OneHotEncoder

In [17]:
ohe = OneHotEncoder(drop='first',dtype=int,sparse_output=False)

In [18]:
df_trf=ohe.fit_transform(df)
df_trf

array([[0, 0, 0, 0, 0, 0, 1],
       [0, 1, 0, 0, 1, 0, 1],
       [0, 0, 1, 0, 0, 1, 0],
       [1, 0, 0, 1, 0, 0, 1]])

In [21]:
cols=ohe.get_feature_names_out()
cols

array(['buyer_karim', 'buyer_noor', 'buyer_wajid', 'fruits_banana',
       'fruits_mango', 'fruits_orange', 'gender_male'], dtype=object)

In [22]:
trf_df=pd.DataFrame(data=df_trf,columns=cols)
trf_df

,buyer_karim,buyer_noor,buyer_wajid,fruits_banana,fruits_mango,fruits_orange,gender_male
0,0,0,0,0,0,0,1
1,0,1,0,0,1,0,1
2,0,0,1,0,0,1,0
3,1,0,0,1,0,0,1