In [1]:
import pandas as pd
import numpy as np
url="https://raw.githubusercontent.com/611noorsaeed/100-days-Scikit-Learn-Tutorials-/refs/heads/main/CAR%20DETAILS%20FROM%20CAR%20DEKHO.csv"
df=pd.read_csv(url)
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [3]:
x=df[["seller_type","transmission","owner"]]

In [5]:
y=df["fuel"]

### train test split

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [19]:
y_train.shape

(3472,)

In [18]:
y_test.shape

(868,)

### label and ordinal encoding

In [10]:
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder

In [20]:
le=LabelEncoder()

In [21]:
y_train_trans=le.fit_transform(y_train)
y_test_trans=le.transform(y_test)

In [28]:
y_train_trans.size

3472

In [25]:
y_test_trans.size

868

In [29]:
oe=OrdinalEncoder()

In [30]:
x_train_trans=oe.fit_transform(x_train)
x_test_trans=oe.transform(x_test)

In [32]:
x_train_trans

array([[1., 1., 0.],
       [1., 1., 0.],
       [1., 1., 2.],
       ...,
       [0., 1., 0.],
       [1., 1., 0.],
       [1., 1., 0.]])

In [33]:
x_test_trans

array([[1., 1., 0.],
       [1., 1., 0.],
       [1., 1., 2.],
       ...,
       [1., 1., 2.],
       [2., 1., 0.],
       [0., 1., 0.]])